.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: rgb(0 0 0/ 50%);
  border: 1px solid black;
  color: whitesmoke;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}
.fotm button:hover,
.font button:active {
  background-color: reb(0 0 0/ 50%);
  border-color: black;
}
